@model WebMekashron.ViewModels.LoginModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/images/favicon.ico">

    <title>Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Content/login.css" rel="stylesheet">

</head>

<body>
     
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            <div class="text-center mb-4">
                <a href="@Url.Action("Index","Home")">
                    <img class="mb-4" src="/Content/images/bootstrap-solid.svg" alt="" width="72" height="72">
                </a>
                <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
                <p class="lead">
                    Use a local account to log in.
                </p>
            </div>


            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-label-group">
                <input type="text" id="inputUserName" class="form-control" name="userName" placeholder="User Name" required autofocus>
                <label for="inputUserName">User Name</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <label for="inputPassword">Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>

        }
   
</body>
</html>
