@model string
@{
    ViewBag.Title = "Error";
}

@if (string.IsNullOrWhiteSpace(Model))
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
    <h2 class="text-danger">@Model</h2>
}
